@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-border {
	/* color: rgb(var(--text-color)); */
	border: 2px double transparent;
	background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
		radial-gradient(circle at left top, rgb(126, 242, 157), rgb(15, 104, 169));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.gradient-border-r {
	border-right: 4px double transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		radial-gradient(circle at left top, rgb(126, 242, 157), rgb(15, 104, 169));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.gradient-background {
	background: radial-gradient(
		circle at left top,
		rgb(1, 110, 218),
		rgb(217, 0, 192)
	);
}

.gradient-border-left-top {
	color: rgb(var(--text-color));
	border-left: 3px double transparent;
	border-top: 3px double transparent;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
		radial-gradient(circle at left top, rgb(126, 242, 157), rgb(15, 104, 169));
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.text-glow {
	text-shadow: 0 0 60px rgb(26 26 26 / 5%), 0 0 32px rgb(65 120 255 / 24%);
}

.text-gradient {
	background: linear-gradient(to right, #7ef29d, #0f68a9);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
